function initialliser.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call initialliser.Bordermaker 1
pop temp 0
push pointer 0
call initialliser.UI 1
pop temp 0
push pointer 0
return
function initialliser.new1 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call initialliser.Bordermaker2 1
pop temp 0
push pointer 0
return
function initialliser.new2 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call initialliser.Bordermaker3 1
pop temp 0
push pointer 0
return
function initialliser.Bordermaker 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop local 1
label WHILE_EXP0
push local 0
push constant 8191
lt
push local 0
push constant 8191
eq
or
push local 1
and
not
if-goto WHILE_END0
push local 0
push constant 7680
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call design.draw 1
pop temp 0
push local 0
push constant 512
add
pop local 0
push local 0
push constant 7680
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call design.draw 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 7680
gt
push local 0
push constant 7680
eq
or
push local 0
push constant 7712
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
push local 0
call design.draw 1
pop temp 0
push local 0
push constant 7712
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 1
label IF_FALSE3
label IF_FALSE2
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
pop local 1
push local 0
push constant 1
sub
pop local 0
label WHILE_EXP1
push local 0
push constant 0
gt
push local 0
push constant 0
eq
or
push local 1
and
not
if-goto WHILE_END1
push local 0
push constant 7711
lt
push local 0
push constant 7711
eq
or
push local 0
push constant 31
gt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 512
sub
pop local 0
push local 0
call design.draw 1
pop temp 0
label IF_FALSE4
push local 0
push constant 31
lt
push local 0
push constant 31
eq
or
push local 0
push constant 0
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 1
sub
pop local 0
push local 0
call design.draw 1
pop temp 0
push local 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop local 1
label IF_FALSE6
label IF_FALSE5
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function initialliser.Bordermaker2 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop local 1
label WHILE_EXP0
push local 0
push constant 8191
lt
push local 0
push constant 8191
eq
or
push local 1
and
not
if-goto WHILE_END0
push local 0
push constant 7680
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call design2.draw 1
pop temp 0
push local 0
push constant 512
add
pop local 0
push local 0
push constant 7680
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call design2.draw 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 7680
gt
push local 0
push constant 7680
eq
or
push local 0
push constant 7712
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
push local 0
call design2.draw 1
pop temp 0
push local 0
push constant 7712
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 1
label IF_FALSE3
label IF_FALSE2
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
pop local 1
push local 0
push constant 1
sub
pop local 0
label WHILE_EXP1
push local 0
push constant 0
gt
push local 0
push constant 0
eq
or
push local 1
and
not
if-goto WHILE_END1
push local 0
push constant 7711
lt
push local 0
push constant 7711
eq
or
push local 0
push constant 31
gt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 512
sub
pop local 0
push local 0
call design2.draw 1
pop temp 0
label IF_FALSE4
push local 0
push constant 31
lt
push local 0
push constant 31
eq
or
push local 0
push constant 0
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 1
sub
pop local 0
push local 0
call design2.draw 1
pop temp 0
push local 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop local 1
label IF_FALSE6
label IF_FALSE5
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function initialliser.Bordermaker3 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop local 1
label WHILE_EXP0
push local 0
push constant 8191
lt
push local 0
push constant 8191
eq
or
push local 1
and
not
if-goto WHILE_END0
push local 0
push constant 7680
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call design3.draw 1
pop temp 0
push local 0
push constant 512
add
pop local 0
push local 0
push constant 7680
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call design3.draw 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 7680
gt
push local 0
push constant 7680
eq
or
push local 0
push constant 7712
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
push local 0
call design3.draw 1
pop temp 0
push local 0
push constant 7712
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 1
label IF_FALSE3
label IF_FALSE2
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
pop local 1
push local 0
push constant 1
sub
pop local 0
label WHILE_EXP1
push local 0
push constant 0
gt
push local 0
push constant 0
eq
or
push local 1
and
not
if-goto WHILE_END1
push local 0
push constant 7711
lt
push local 0
push constant 7711
eq
or
push local 0
push constant 31
gt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 512
sub
pop local 0
push local 0
call design3.draw 1
pop temp 0
label IF_FALSE4
push local 0
push constant 31
lt
push local 0
push constant 31
eq
or
push local 0
push constant 0
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 1
sub
pop local 0
push local 0
call design3.draw 1
pop temp 0
push local 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop local 1
label IF_FALSE6
label IF_FALSE5
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function initialliser.UI 0
push argument 0
pop pointer 0
push constant 3
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 6
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 50
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 51
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
